.nodrag {
    -webkit-app-region: no-drag;
}
.drag {
    -webkit-app-region: drag;
}
.background {
    background-color: rgba(237,239,241,0.95);
}
html, body {
    height: 100%;
    overflow: auto;

}
body {
    padding: 0;
    margin: 0;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}
.glyphicon-refresh-animate {
    -animation: spin 1.2s infinite linear;
    -webkit-animation: spin2 1.2s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
/* Let's get this party started */
::-webkit-scrollbar {
    width: 8px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(46,46,46,0.4);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
div.autoscroll:hover {
     overflow: auto;
     padding-right: 10px;
}
/*::-webkit-scrollbar {
    display: none;
}
*/
